.userForm {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;

  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.userForm input {
  flex: 1;
  min-width: 250px;

  padding: 14px;

  border: 1px solid #ddd;
  border-radius: 12px;
}

.userForm button {
  border: none;
  cursor: pointer;

  padding: 14px 24px;

  background: #512da8;
  color: white;

  border-radius: 12px;
  font-weight: bold;
}