* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #512da8,
    #673ab7,
    #7e57c2
  );
}